@model IEnumerable<TrueVote.Web.Entities.VoteOptionDetails>

<h1>Vota ai</h1>
<div class="grid-container">
    @foreach (var voteOptions in Model)
    {
        <div class="grid-item">
            <img src="@Url.Content($"~/{@voteOptions.FilePath}")" alt="image">
            <button class="vote-btn" onclick="submitVote(@voteOptions.OptionKey)">Vote</button>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript" src="~/lib/signalr/signalr.js"></script>
    <script type="text/javascript">
        
        var hubConnection = new signalR.HubConnectionBuilder().withUrl("/hubs/vote").build();
        hubConnection.start();

        function submitVote(voteOption){
            let url = `@Url.Action("Submit", "Votes")/${voteOption}`;

            fetch(url,{method: 'POST'})
                .then(response => {
                    if (!response.status === 201) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    
                    hubConnection.send('OnVoteCreated', voteOption);
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });         
        } 
    </script>>
}