<h1>Vota ai</h1>
<div class="grid-container">
    <div class="grid-item">
        <img src="~/images/boules.jpg" alt="Option 1">
        <button class="vote-btn" onclick="submitVote(1)">Vote</button>
    </div>
    <div class="grid-item">
        <img src="~/images/datena.jpeg" alt="Option 1">
        <button class="vote-btn" onclick="submitVote(2)">Vote</button>
    </div>
    <div class="grid-item">
        <img src="~/images/instala_drive.jpg" alt="Option 1">
        <button class="vote-btn" onclick="submitVote(3)">Vote</button>
    </div>
    <div class="grid-item">
        <img src="~/images/ricardo_nunes_piscina.jpg" alt="Option 1">
        <button class="vote-btn" onclic="submitVote(4)">Vote</button>
    </div>
    <div class="grid-item">
        <img src="~/images/tabatha_amaral.jpg" alt="Option 1">
        <button class="vote-btn" onclick="submitVote(5)">Vote</button>
    </div>
    <div class="grid-item">
        <img src="~/images/marina.jpg" alt="Option 1">
        <button class="vote-btn" onclick="submitVote(6)">Vote</button>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/lib/signalr/signalr.js"></script>
    <script type="text/javascript">
        
        var hubConnection = new signalR.HubConnectionBuilder().withUrl("/hubs/vote").build();
        hubConnection.start();

        hubConnection.on('OnVoteCreated', (val) =>{
            console.log(val);
        });
 
        function submitVote(voteOption){
            let url = `@Url.Action("Submit", "Votes")/${voteOption}`;

            fetch(url,{method: 'POST'})
                .then(response => {
                    if (!response.status === 201) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    
                    hubConnection.send('OnVoteCreated');
                    return response.json();
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });         
        } 
    </script>>
}