<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vota ai</title>
</head>
<body>
    <h1>Vota ai</h1>
    <div class="grid-container">
        <div class="grid-item">
            <img src="~/images/boules.jpg" alt="Option 1">
            <button class="vote-btn">Vote</button>
        </div>
        <div class="grid-item">
            <img src="~/images/datena.jpeg" alt="Option 1">
            <button class="vote-btn">Vote</button>
        </div>
        <div class="grid-item">
            <img src="~/images/instala_drive.jpg" alt="Option 1">
            <button class="vote-btn">Vote</button>
        </div>
        <div class="grid-item">
            <img src="~/images/ricardo_nunes_piscina.jpg" alt="Option 1">
            <button class="vote-btn">Vote</button>
        </div>
    </div>
</body>
</html>
