@model IEnumerable<TrueVote.Web.Entities.VoteReportByOption>

<h1>Relatório de Votações</h1>
<div class="report-container">
    @foreach (var report in Model)
    {
        <div class="report-item">
            <img src="@Url.Content($"~/{@report.VoteOptionDetails.FilePath}")" alt="image">
            <p>Votos: <span class="vote-count">@report.ReceivedVotesAmount</span></p>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript" src="~/lib/signalr/signalr.js"></script>
    @* <script type="text/javascript"> *@
    @*     var hubConnection = new signalR.HubConnectionBuilder().withUrl("/hubs/vote").build(); *@
    @*     hubConnection.start(); *@
    @* *@
    @*     hubConnection.on('OnVoteUpdated', (updatedReport) =>{ *@
    @*         console.log('Voto atualizado:', updatedReport); *@
    @*     }); *@
    @* </script> *@
}